h1{
  font-weight: 10px;
  /*font-family: 'Aldrich 100', sans-serif;*/
}
h2{
  font-family: 'Exo-thin', sans-serif;
  font-size:45px;
  text-align: left;
}
body{
  font-family: "Exo-Thin";
  font-size:80px;
  line-height: 110px;
}
p{
  font-size: 35px;
  line-height: 45px;
  text-align: left;
}
.line{
    text-align: center;
}
hr{
    border: 0;
    border-top: 3px solid rgba(255,67,81,0.75);
    /*display: block;*/
    height: 1px;
    margin: 1em 0;
    margin-left: 110px;
    margin-right: 110px;
    padding: 0;
}
.container {
  /*display: flex;*/
  max-width: 2400px;
  /*text-align: center;*/
  /*margin: 0 auto;*/
}
a {
    border-radius: 5px;
    color:white;
    display: block;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

}
a:hover {
    color: white;
}
#top{
  margin-bottom: 60px;
  margin-left: 90px;
}
#bottom{
  padding-top: 150px;
  margin-bottom: 60px;
  margin-left: 90px;
}
/*@import 'bootstrap/dist/css/bootstrap.min.css';

@import "normalize.css";*/

/***********************************
            Images
************************************/

img.resize {
  /*margin-bottom: -300px;*/
  padding-left: 30px;
  padding-top: 20px;
  max-width:60%;
  min-width:200px;

}
#slide1{

  min-height: 550px;
  background:url('../assets/image2.jpg') no-repeat 0 -300px  ;
  background-size:cover;
  /*min-height: 800px;*/
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
#slide2{
  min-height: 700px;
  background:url('../assets/4atext.jpg') no-repeat 0 -20px  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/***********************************
  background effect
************************************/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/********************************
    Button
********************************/
.input{
  border-width: 2px;
  border-radius: 3px;
  position:relative;
  text-align: center;
  width:350px;
  height: 60px;
  font-size: 24px;
  padding-right: 10px;
}
.button1 {
    font-family: "Exo-Thin";
    position: relative;
    padding-bottom: 25px;
    /*padding-top: 0px;*/
    box-shadow: 0 3px #999;
    border-radius: 10px;
    font-size: 18px;
    color: #FFFFFF;
    background: #f4f4f4;
    background: rgba(255,67,81,0.75);
    display: inline-block;
    width: 160px;
    height:60px;
    -webkit--duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center; line-height: 65px;
    overflow: hidden;
    cursor: pointer;
    margin:20px auto;

}
.button1:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s

}
/********************************
          Footer
********************************/

/*.icon-background {
    color:rgba(255,67,81,0.75);

}*/
ul {
    font-size: 44px;
    list-style-type: none;
    overflow: hidden;
    }

li {
}

li a {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width:90px;
}

li a:hover {
    background-color: #111111;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:rgba(255,67,81,0.75);
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color:rgba(255,67,81,0.75);
}
.fa-twitter:hover {
    background-color: #00aced;
}
\
