h1{
  font-weight: 10px;
  font-family: "Aldrich 100";
}
h2{
  font-size:100px;
  font-family: "Exo-Thin";
  text-align: center;
}
body{
  font-family: "Exo-Thin";
  font-size:80px;
  line-height: 110px;

  /*max-width:1500px;*/
}
p{
  text-align: left;
}
h2.line{
  text-align: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    align: center;
    border-top: 3px solid rgba(255,67,81,0.75);
    margin: 1em 0;
    padding: 0;
    margin-left: 110px;
    margin-right: 110px;
}
.container {
  /*display: flex;*/
  max-width: 2400px;
  /*text-align: center;*/
  /*margin: 0 auto;*/
}
* {
    margin: 0;
    padding: 0;
}
a {
    color:white;
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: white;
}
#top{
  margin-top: 360px;
  margin-left: 180px;
  margin-bottom: 120px;s
}
/***********************************
            Images
************************************/
img.1{
    display: block;
    padding-top: : 55px;
    margin-top : 95px;
}
img.resize {
  /*margin-bottom: -300px;*/
  max-width:75%;
  max-height:auto;
  padding-right: 300px;
}
#slide1{
  min-height: 800px;
  background:url('../assets/image2.jpg') no-repeat 0 -800px  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#slide2{
  min-height: 1200px;
  background:url('../assets/4a.jpg') no-repeat 0 -20px  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/***********************************
  background effect
************************************/
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/********************************
    Button
********************************/
.input{
  position:static;
  text-align: center;
  width:550px;
  height: auto;
  font-size: 34px;
  padding-right: 10px;
}
.button1 {
    font-family: "Exo-Thin";
    position: relative;
    padding-top: -40px;
    box-shadow: 0 3px #999;
    border-radius: 10px;
    font-size: 38px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(255,67,81,0.75);
    width: 460px;
    height: auto;
    text-align: center;
    -webkit--duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button1:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/********************************
          Footer
********************************/
.footer {
  width:100%;
  height:10%;
  position:absolute;
  /*position: relative ;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width:1000px;
  max-width:1000px;*/
  /*background-color: rgba(255,20,21,0.55);*/
  color: black;
  /*text-align: center;*/
  }
.fa {
  border-color: blue;
  /*border-width: 30%;*/
  width: 120px;
  max-width:100%;
  padding: 20px;
  font-size: 30px;
  /*width: 3.8%;*/
  text-align: center;
  text-decoration: none;
  margin: 35px 5px;
  border-radius: 50%;
  height:auto;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  padding-left: 20px;
  background: rgba(255,67,81,0.75);
  color: white;
}
.fa-twitter {
  padding-left: 20px;
  background: rgba(255,67,81,0.75);
  color: white;
}
.fa-instagram {
  padding-left: 20px;
  background: rgba(255,67,81,0.75);
  color: white;
}
